<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.mapper.ReviewMapper">
	<insert id="insertReview">
		insert into review values(#{reviewId},#{customer_id},#{review})
	</insert>
	<select id="selectByCustomerCount" resultType="Integer">
		select count(customer_id) from review where customer_id=#{customerId}
	</select>
</mapper>